* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  color: #2B283A;
}

header {
  background-color: rgba(128, 255, 0, 0.493);
  display: flex;
  height: 175px;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  max-height: 100%;
  margin-right: 2.5em;
}

h1 {
  font-weight: bold;
  padding-left: 1.5em;
  color: rgba(0, 99, 99, 0.904);
  position: relative;
  align-self: center;
}

h1::before {
  content: "";
  display: block;
  position: absolute;
  height: 100px;
  z-index: 1;
  left: 0;
  top: -30px;
  bottom: 0;
  border: 1px solid rgba(0, 99, 99, 0.904);

}

.main-container {
  max-width: 80%;
  margin: 2em auto;
}

.card {
  margin: 1em 0;
  display: flex;
}

.card-text {
  margin-left: 1em;
}

.card-img{
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;

}

h3 {
  display: inline-block;
  margin-left: .5em;
}

a {
  margin-left: 1em;
  color: #918E9B;

}

@media screen and (max-width:675px) {
  .card {
    flex-direction: column;
    margin-bottom: 4em;
  }

  .card-text {
    margin-left: 0;
  }
}
